table {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-family: "Roboto Mono", monospace;
	font-weight: bold;
	margin-top: 20px;
}
td {
	border: 1px dashed black;
	padding: 25px;
	width: 128px;
	height: 32px;
}
th{
	border: 1px solid black;
}
.missing {
	background-color: darkgray;
}
#tanar{
	background-color: beige;
}
#me{
	background-color: lavender;
}
.error{
	color: red;
}
input{
	margin-right: 10px;
}
